<ion-header>
  <ion-toolbar>
    <ion-title>
      Usuarios de un sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let item of users; let i = index">
          <div style.background-color="{{item.color}}">
          <ion-card-header>
            <img src={{item.foto}}>
            <ion-card-title>{{item.nombre}}  {{item.apellidos}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          <p>Edad: {{item.edad}} años</p>
          <p>Color favorito: {{item.color}}</p>
          </ion-card-content>
          </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
